.Card{
    background: #0A081A;
    text-align: left;
    padding: 10px;
    margin: 2px;
    border-radius: 2px;
    
    .white{
        color:white;
    }
    .bold{
        font-weight: bold;
    }
    .green{
        color:#9EF48F;
    }
    .blue{
        color:#A3EDD6;
    }
}
.Card:hover {
    // background: #04139a;
    cursor: pointer;
}
